/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require_self
*/
body{
	padding-top: 70px;
	padding-bottom: 70px;
}
.navbar{
	margin-bottom: 10px;
}

.form-group {
    margin-bottom: 5px;
}

.toolbar-panel{
    
    /*margin-bottom: 10px;*/
    padding-bottom: 5px;
    padding-top: 2px;
    /*padding-left: 2px;*/

}

.uppercase-field {
  text-transform: uppercase;
}


/*
* Angular forms styles
*/
form .ng-invalid.ng-dirty {
	background-color: lightpink; 
}
form .ng-valid.ng-dirty {
	background-color: lightgreen; 
}
span.summary.ng-invalid {
	color: red; font-weight: bold; 
}
span.summary.ng-valid {
	color: green; 
}